<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Online system student register</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--main panel-->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <div class="main-panel">
                <div class="content">
                    <div class="container">
                        <h4 class="page-title">register page</h4>
                        <form th:action="@{/prexam/AddStudent}" method="post">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="name">name</label>
                                            <input type="text" class="form-control" required name="studentName" id="name" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">account</label>
                                            <input type="text" class="form-control" required name="studentAccount" id="account" placeholder="">
                                            <small id="accounthelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="form-check">
                                            <label>gender</label><br>
                                            <label class="form-radio-label">
                                                <input class="form-radio-input" type="radio" name="studentGender" value="1">
                                                <span class="form-radio-sign">male</span>
                                            </label>
                                            <label class="form-radio-label ml-3">
                                                <input class="form-radio-input" type="radio" name="studentGender" value="0">
                                                <span class="form-radio-sign">female</span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">email</label>
                                            <input type="email" class="form-control" required id="email" name="studentEmail" placeholder="Enter Email">
                                            <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">password</label>
                                            <input type="password" class="form-control" required id="password" name="studentPwd" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <!--由数据库中查询出来-->
                                            <label>class</label>
                                            <select class="form-control" name="classeId">
                                                <option th:each="cla:${allClasees}" th:text="${cla.classeName}" th:value="${cla.classeId}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="card-action">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <button class="btn btn-danger" type="reset">Cancel</button>
                                        <button><a class="btn btn-sm btn-info" th:href="@{/foreLogin}">back</a></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
</body>
</html>
